.Home {
    width: 100%;
    min-height: 100vh;
    background: url('../images/hero-list.svg') no-repeat;
    background-position: right 95%;
    background-size: 40rem;

    padding-top: 10rem;
}

.Home p {
    margin-bottom: 1rem;
    max-width: 60rem;
}

@media screen and (max-width:500px) {
    .Home {
        background-size: 35rem;
    }
}